.conteiner_detailRecipe{
    margin: 0px;
    background: url('../../image/pngtree-simple-food-detail.jpg') no-repeat; 
    background-size: cover;
    display: flex;
    justify-content:space-evenly;
    height: 100vh;
    flex-wrap: wrap;

}

.section1_detail{
    width: 1500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section2_detail{
    width: 1500px;
    height: 600px;
    display: flex;
    justify-content:center;
    align-items: center;   
    justify-content:space-evenly; 
    gap: 15px;
}

/*-------------SECTION 1------------*/
.logo{
    height:80px;
    width: 80px;
    border-radius: 50%;
}

.title_detail{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    color:chocolate;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.581);
    font-size: 40px;
}

.btn_home_detail{
    width: 70px;
    height: 70px;
    border-radius:20px;
    color: #060606;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  
 
}
.btn_home_detail:hover{
    background: #ffffffa8;
    transform: scale(1.1);
    border: solid rgba(255, 254, 254, 0.807);
    box-shadow: 0 0 10px #2a2c2c9b, 0 0 10px #2a2c2c9b, 0 0 10px #2a2c2c9b;
}

/*-------------SECTION 2------------*/
.sectionA_detail{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.sectionB_detail{
    display: flex;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/*-------------SECTION A------------*/
.img_detail{
    position: relative;
    top: -20px;
    height:300px;
    width: 300px;
    transition: 0.3s;
    border-radius: 50%;
    margin: 30px;
    border: solid grey;
}
.score_diets{
    height: 200px;
    width: 400px;
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.score{
    height: 160px;
    font-size: 15px;
    justify-items: center;
    background: transparent;
    border-radius: 30px;
    font-family: cursive;
    display: flex;
    flex-direction: column; 
}

.score_number{
    position: relative;
    top: -30px;
    border: solid;
    border-radius: 15px;
    font-size: 35px;
    font-style: oblique;
    font-weight: bolder;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.581);
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    backdrop-filter: blur(15px)
  
}
.type_diets{
    height: 150px;
    width: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background: transparent;
    border-radius: 30px;
    font-family: cursive;
}

.diets{
    position: relative;
    top: -30px;
}

/*-------------SECTION B------------*/
.summary{
    position: relative;
    top: -80px;

    width: 700px;
    height: 400px;
}
.instruction{
    position: relative;
    top: -190px;
    width: 700px;
    height: 40px;
}
.title{
    font-family:fantasy;
    font-size: 18px;
    color: darkred;
 
 }
.text{
    position: relative;
    top: -40px;
    left: -80px;
    width: 700px;
    height: auto; 
    font-size: 12px;
    text-align: justify;
    background: transparent;
    backdrop-filter: blur(15px); /* esto hace borrozo la imagen*/
    border: solid grey;
    line-height: 1.1;
    border-radius: 30px;
    padding: 20px;
    margin: 50px;
    font-family: cursive; 
}

.title_summary{
    font-family:fantasy;
    font-size: 18px;
    color: darkred;
}